MONGODB_URI=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.mongodb.net/urbansole?retryWrites=true&w=majority
PORT=5000

# Authentication Secerts
ACCESS_TOKEN_SECRET=your_super_secret_access_token_string
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your_super_secret_refresh_token_string
REFRESH_TOKEN_EXPIRY=10d

# Cross-Origin Policies (Update with your live Frontend URL in production)
CORS_ORIGIN=*

# Cloudinary Integration (Image Storage)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Resend Mail Service
RESEND_API_KEY=re_your_secret_resend_api_key

# Payment Gateway (Stripe)
STRIPE_SECRET_KEY=sk_test_your_secret_stripe_api_key
